:root {
    --player0-color-zone: #e93423;
    --player0-color-background: #d55049;
    --player0-color-outline: #802f2e;
    --player0-background-gradient: linear-gradient(0, #973935 0%, #ec655f 100%);
    
    --player1-color-zone: #557c47;
    --player1-color-background: #add773;
    --player1-color-outline: #628146;
    --player1-background-gradient: linear-gradient(0, #76934e 0%, #dbfd92 100%);

    --overlay-background: rgba(0, 0, 0, 0.5);
    --notification-background: rgba(255, 255, 255, 0.8);

    --cancel-color-text: #391513;
    --cancel-color-background: linear-gradient(0, #8e3531 0%, #dd544d 100%);
    --cancel-color-outline: #391513;

    --confirm-color-text: #5b7532;
    --confirm-color-background: linear-gradient(0, #7a9d43 0%, #cbfd6f 100%);
    --confirm-color-outline: #5b7532;

    --disabled-color-text: #5b5b5b;
    --disabled-color-background: linear-gradient(0, #777777 0%, #c5c5c5 100%);
    --disabled-color-outline: #5b5b5b;

    --error-color-text: #802f2e;

    --card-color-background: linear-gradient(0, #f0d9ad 0%, #fffef9 100%);
    --card-color-outline: #605447;
    --card-color-text: #605447;

    --button-color-text: #6e6d69;
    --button-color-background: linear-gradient(0, #918f8a 0%, #e6e2da 100%);
    --button-color-outline: #6e6d69;

    /* --button-color-text: #333333;
    --button-color-background: linear-gradient(0, #54616c 0%, #9eb1b9 100%);
    --button-color-outline: #333333; */

    --content-color-background: radial-gradient(circle, #78aee7 0%, #2a6281 100%);
    --content-color-outline: #5882b0;

    --material-icons-color: black;
    --input-background: white;
    --input-outline-color: #353535;
    
    --text-stroke-font-color: white;
    --text-stroke-color: #2c2c2c;

    --font-color: black;

    --register-form-background: rgba(16, 36, 49, 0.315);
    --warning-color: red;

    --backdrop-background: radial-gradient(circle, #516683 0%, #1d3458 100%);
}

* {
    font-family: "Cairo", sans-serif;
    color: inherit;
    box-sizing: border-box;
    user-select: none;
}

body {
    min-width: 600px;
    min-height: 300px;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

svg#play_area {
    height: 100vh;
    width: auto;
}

text {
    fill: #fff;
    font-weight: 800;
    stroke-width: 5;
    stroke: #000;
    paint-order: stroke;
    text-anchor: middle;
    font-size: 24px;
}

g#areas path {
    stroke-width: 5px;
    stroke: #000;
}

g#sea-routes path {
    stroke-width: 3px;
    stroke: #000;
    fill: none;
}

g#areas, g#text-backgrounds, g#texts {
    cursor: pointer;
}

g#text-backgrounds ellipse {
    stroke-width: 3px;
    stroke: #000;
}

button {
    font-weight: bold;
    height: 48px;
    border: 3px solid var(--button-color-outline);
    border-radius: 24px;
    color: var(--button-color-text);
    background: var(--button-color-background);
    box-shadow: 0px 3px 3px rgb(0, 0, 0, 0.4);
    padding: 0 32px;
    transition: 0.3s filter;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover {
    filter: brightness(1.1);
}
button:active {
    margin: 2px -2px -2px 2px;
    box-shadow: 0px 0px;
    filter: brightness(0.9);
}
button.confirm {
    color: var(--confirm-color-text);
    border-color: var(--confirm-color-outline);
    background: var(--confirm-color-background);
}
button.cancel {
    color: var(--cancel-color-text);
    border-color: var(--cancel-color-outline);
    background: var(--cancel-color-background);
}
button:disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: var(--disabled-color-text);
    border-color: var(--disabled-color-outline);
    background: var(--disabled-color-background);
}
button:disabled text {
    stroke: var(--disabled-color-text);
}

button.icon-button {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    padding: 0;
}

button.troop-button {
    width: 96px;
    height: 96px;
    border-radius: 48px;
}

button.small {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    border-width: 2px;
}

/* Flexbox related */
.row, .col {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}
.col { flex-direction: column; }
.spacer-0 { width: 0; height: 0; }
.spacer-1 { width: 5px; height: 5px; }
.spacer-2 { width: 10px; height: 10px; }
.spacer-grow { flex-grow: 1; }

.error {
    color: var(--error-color-text);
}

.hidden {
    visibility: hidden;
}

#info-panel {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--overlay-background);
    width: 640px;
    height: 240px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 64px;
    padding-right: 64px;

    border-top-right-radius: 64px;
    border-top-left-radius: 64px;
}

#info-panel-display {
    position: relative;
}

.text-display {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    border: solid 3px #000;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.text-display svg {
    width: 100%;
    height: 100%;
}

.text-display text {
    text-anchor: middle;
    stroke-width: 5px;
}

.no-backdrop {
    background: transparent;
    border: none;
}

.no-backdrop text {
    stroke: #000;
}

#turn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

#phase-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

#phase-text-wrapper {
    width: 360px;
    height: 64px;
}

.phase-square {
    width: 96px;
    height: 16px;
    background: #fff;
    border-radius: 8px;
    border: solid 3px black;
}

#next-phase-button {
    width: 240px;
    height: 64px;
}

#next-phase-button svg {
    height: 100%;
    width: auto;
}

#popup-troops-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 480px;
    height: 96px;
    border-radius: 48px;
    background: var(--overlay-background);
    /* border: solid 5px #000; */
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
}

.troops-button .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 800, 'GRAD' 200, 'opsz' 48;
    /* color: white; */
}

#troops-text-wrapper {
    height: 96px;
    width: 96px;
}

#notification {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--notification-background);
    width: 480px;
    height: 48px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#battle-screen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(3px);
    background: var(--overlay-background);
    display: flex;
    align-items: center;
    justify-content: center;


}

#self-troops-wrapper {
    position: absolute;
    left: 10%;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#enemy-troops-wrapper {
    position: absolute;
    right: 10%;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#self-dice-wrapper {
    left: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#enemy-dice-wrapper {
    right: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dice-wrapper {
    position: absolute;
    top: 20%;
}

#self-dice-1, #enemy-dice-1 {
    top: 0;
}

#self-dice-2, #enemy-dice-2 {
    top: 10vh;
}

#self-dice-3 {
    top: 20vh;
}

.dice {
    position: absolute;
    width: 8vh;
    height: 8vh;
}

.dice ellipse {
    /* stroke: none; */
}

.dice.enemy rect {
    fill: white;
}

.dice.enemy ellipse, .dice.enemy path {
    fill: black;
}

#battle-buttons-wrapper {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--notification-background);
    width: 360px;
    height: 180px;
    border-radius: 90px;
}

#close-battle-button {
    position: absolute;
    top: 4vh;
    right: 4vh;
}

#self-troops-title-wrapper {
    width: 20vw;
}

#self-troops-text-wrapper {
    /* width: 5vw; */
}

#enemy-troops-title-wrapper {
    width: 20vw;
}

#enemy-troops-text-wrapper {
    /* width: 5vw; */
}

#quit-button {
    position: absolute;
    right: 4vh;
    top: 4vh;
}

.player-0 {
    border-color: var(--player0-color-outline);
    background: var(--player0-background-gradient);
}

.player-0 text {
    stroke: var(--player0-color-outline);
}

.player-1 {
    border-color: var(--player1-color-outline);
    background: var(--player1-background-gradient);
}

.player-1 text {
    stroke: var(--player1-color-outline);
}

#cards-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cards-window {
    width: calc(64px * 2 + 32px * 4 + 128px * 5);
    min-height: calc(64px + 192px + 64px + 48px + 64px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 64px;
    gap: 64px;
}

#cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}

.card {
    width: 128px;
    height: 192px;
    background: var(--card-color-background);
    color: var(--card-color-text);
    border-radius: 8px;
    padding: 16px;
    border: solid 5px var(--card-color-outline);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    transition: 0.2s all;
}

.card path {
    fill: var(--card-color-text);
    transition: 0.2s all;
}

.card.selected {
    border-color: var(--confirm-color-outline);
    color: var(--confirm-color-text);
    transform: scale(1.1);
}

.card.selected path {
    fill: var(--confirm-color-outline);
}

#close-cards-overlay-button {
    position: absolute;
    top: 4vh;
    right: 4vh;
}

#open-cards-button {
    position: absolute;
    bottom: 4vh;
    left: 4vh;
    height: 96px;
    width: 96px;
    padding: 8px;
}

#end-window {
    width: 896px;
    height: 640px;
}

#end-title {
    width: 480px;
    height: 120px;
}

#end-title text {
    font-size: 64px;
    stroke-width: 10px;
}

.end-stat-row {
    padding: 0;
}

#waiting-window {
    width: 640px;
    height: 320px;
}

@keyframes spin {
    from { 
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to { 
        transform: translate(-50%, -50%) rotate(359deg);
    }
}

#dice-spinner-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 64px;
    animation: spin 5s infinite linear;
}

#dice-spinner-wrapper ellipse {
    /* stroke: none; */
}




/*       */
/* Login */
/*       */

.center { text-align: center; }
.shadow { box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.4); }

/* Google icon */
.material-icons {
    color: var(--material-icons-color);
}

/* Overlay */
.overlay {
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: var(--overlay-background);
}
.overlay.backdrop {
    background: var(--backdrop-background);
}
.overlay .caption {
    font-size: 1.2em;
}
.text-stroke {
    position: relative;
    z-index: 1;
    color: var(--text-stroke-font-color)
}
.text-stroke:after {
    content: attr(data-text);
    -webkit-text-stroke: 5px var(--text-stroke-color);
    color: var(--text-stroke-color);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.content {
    background: var(--content-color-background);
    border: solid 3px var(--content-color-outline);
    border-radius: 16px;
}
.warning {
    font-weight: bold;
    color: var(--warning-color);
}

/* Form related */
form input, form select {
    width: 100%;
}
input, select {
    font-size: 1rem;
    background: var(--input-background);
    border: none;
    border-radius: 12px;
    padding: 8px 16px;
    outline: none;
}
input:focus {
    outline: solid 3px var(--input-outline-color);
}
input::placeholder, select {
    color: gray;
}

button.icon {
    height: inherit;
    border: none;
    border-radius: 2px;
    background: none;
    box-shadow: none;
    padding: 3px 5px;
    padding-top: 5px;
}
button.icon * {
    color: white;
}
button.icon:hover {
    background: var(--button-background-hover);
}
button.icon:active {
    margin: 2px -2px -2px 2px;
}

/* Signin overlay */
#signin-form {
    width: 270px;
    align-self: stretch;
}
#register-form {
    width: 380px;
    background: var(--register-form-background);
    border-radius: 32px;
    padding: 20px;
}